{% extends "layout.html" %}
{% block content %}
    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#"> <h3>{{post.user_name}}</h3> </a>
            <small class="text-muted"><p>{{post.full_text[0]}}</p></small>
        </div>

    {% if post.sentiment_score > 0 %}
    <p>Sentiment Score: {{post.sentiment_score}}</p>
    <p>Positive</p>

    {% else %}
    <p>Sentiment Score: {{post.sentiment_score}}</p>
    <p>Negative</p>
</div>
    {% endif %}
</article>
    {% endfor %}

{% endblock content %}



{% block contents %}
    {% for record in tests %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#"> <h3>{{record.title}}</h3> </a>
            <small class="text-muted"><p>{{record.description}}</p></small>
            <a class="text-muted"><a>{{record.url}}</a></a>
        </div>

        
</article>
    {% endfor %}

{% endblock contents %}

{% block content_specific %}
    <article class="media content-section">
        <div class="media-body">

            {{posts1}}


</div>


</article>

{% endblock content_specific %}